*{
    margin:0;
    text-align:center;
  }


  h1{
    font-size:60px;
    margin-top: 20px;
    margin-bottom: 30px;
  }


  .body{
    width:80%;
    margin-right:auto;
    margin-left:auto;
    margin-top:20px;
    margin-bottom:20px;
  }

  .add-board{
    width:80%;
    margin-right:auto;
    margin-left:auto;
    display:flex;
    justify-content:left;
  }

  .footer{
    color:gray;
    margin:20px;
    font-size:20px;
  }
