

.board {
    display: flex;
    flex-direction: column;
    width:15%;
    min-width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    position: relative;
}

.board-image {
    border-radius: 20px;
    position: relative; /* Make the image the positioning context */
}

.board:hover {
    cursor: pointer;
}

.board:hover .board-image {
    filter: brightness(0.6);
}

.board:hover .board-info {
    display: block;
}

.board:hover .delete-button {
    display:flex;
}

.board-title {
    font-size: 30px;
}

.board-info {
    display: none; /* Initially hide the text */
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    white-space: nowrap;
    text-align: left;
    color: white;
    background-color: transparent;
}

.board-title {
    text-align: left;
    color: white;
    background-color: transparent;
    font-size: 200%;
}


.board-type, .board-author {
    text-align: left;
    color: white;
    background-color: transparent;
    font-size: 150%;
}

.board-author {
    font-size: 100%;
}

.delete-button {
    display:none;
    transform: translateY(-40px);
    background-color: transparent;
    justify-content: right;
    height:0px;
    margin:0px;
}

.delete-button:hover {
    cursor: pointer;
}
