.button-image{
    width:40px;
}

button{
    border:none;
}



.search-button:hover, .clear-button:hover{
    cursor: pointer;
}

  .search-form{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:80%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 20px;
  }

  form{
    display:flex;
    flex-direction:row;
    align-items: center;

  }

  .search-input{
    font-size:20px;
    padding-left:20px;
    text-align:left;
    width:90%;
    height: 40px;
    border-radius:10px;
    border:none;
    background-color: #ececec;
  }

  .search-input:hover{
    background-color: #e4e4e4;
  }
